/* .highlights {
    padding: 20px;
    background-color: #e6f2ff;
    color: #003366;
  }
  
  .highlights h2 {
    font-size: 1.8rem;
    color: #00264d;
    margin-bottom: 15px;
  }
  
  .highlights ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .highlights li {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 8px;
  }
   */